@model IEnumerable<Netflix_clone.Models.AppUser>
@{
    ViewData["Title"] = "All Users";
}

<h2>All Users</h2>

<p>
    <a asp-area="Identity" asp-page="/Account/Register">Create New User</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                        <span>|</span>
                        <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
